.sidebar {
    position: fixed;
    left: -200px; /* Initially hide the sidebar off the screen */
    top: 53.5%; /* Center the sidebar vertically */
    transform: translateY(-50%);
    width: 200px;
    background-color: #000000;
    padding-top: 10px;
    height: 70%;
    transition: left 0.3s; /* Add smooth transition effect */
  }
  
  .sidebar:hover,
  .arrow-container:hover .sidebar {
    left: 0; /* Show the sidebar when hovered over */
  }
  
  .arrow-container {
    position: relative;
    left: 120px;
    top:200px;
    cursor: pointer;
  }
  
  .arrow-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .sidebar::after {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    width: 0.1px; /* Adjust the width of the white line */
    height: 100%;
    background-color: #ffffff;
  }
  
  .nav-item {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .nav-item:hover {
    background-color: #333333;
  }
  