{
    "semi": true, 
    "singleQuote": true, 
    "tabWidth": 2,
    "trailingComma": "all",
    "bracketSpacing": true, 
    "jsxSingleQuote": false, 
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 80,
    "endOfLine": "auto", 
    "useTabs": false 
  }
