/* NAVBAR CONTAINER */
.navbar-container {
  padding: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

/* center the mid screen */
.navbar-left-section,
.navbar-right-section {
  width: 15rem;
}

/* NAVBAR MID SECTION */
.navbar-title {
  color: white;
  font-family: "italiana", sans-serif;
  font-weight: lighter;
  font-size: 60px;
  margin: 0;
}
/* NAVBAR RIGHT SECTION */
.navbar-right-section {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.navbar-icons {
  width: 20px;
  height: 20px;
}

/* NAVBAR LINE */
.navbar-line {
  background-color: white;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  height: 1px;
}
