/* CAROUSEL CONTAINER */
.clothes-carousel-container {
  position: relative;
  padding: 0 3rem;
}

/* CAROUSEL ITEMS */
.clothes-carousel-item {
  background-color: lightgrey;
  color: black;
  margin: 0 1rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
}

.clothes-carousel-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.03);
}

.clothes-carousel-item-content {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

/* ARROW BUTTONS */
.clothes-carousel-arrow {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  transition: background-color 0.3s;
  z-index: 1000;
}

.clothes-carousel-arrow:hover {
  background-color: white;
}

.clothes-carousel-arrow img {
  width: 40%;
  height: auto;
}

.clothes-carousel-arrow-prev {
  left: 10px;
}

.clothes-carousel-arrow-next {
  right: 10px;
}

/* HIDE DEFAULT DOTS */
.alice-carousel__dots {
  display: none;
}
