/* NAVBAR CONTAINER */
.navbar-container {
  padding: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

/* center the mid screen */
.navbar-left-section,
.navbar-right-section {
  width: 15rem;
}

/* NAVBAR MID SECTION */
.navbar-title {
  color: white;
  font-family: "italiana", sans-serif;
  font-weight: lighter;
  font-size: 60px;
  margin: 0;
}
/* NAVBAR RIGHT SECTION */
.navbar-right-section {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.navbar-link {
  color: white;
  border: none;
  font-size: 1rem;
  width: fit-content;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.navbar-link::before {
  background-color: white;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  transition: width 0.3s;
}

.navbar-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleY(0) scaleX(0.2);
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-left: none;
  border-top: none;
  transition: transform 0.3s;
}

.navbar-link:hover::before {
  width: 100%;
}

.navbar-link:hover::after {
  transform: translateX(-50%) rotate(45deg) scaleY(1) scaleX(1);
}

.navbar-icons {
  width: 20px;
  height: 20px;
}

/* NAVBAR LINE */
.navbar-line {
  background-color: white;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  height: 1px;
}
