.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    margin-top: 100px;
  }
  
  .auths-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally */
  }
  
  .auths-form-inputs label {
    margin-bottom: 10px;
    display: contents;
    color: white;
    font-size: 20px;
  }
  
  .auths-form-inputs h2 {
    color: white;
  }
  
  .auths-form-inputs input {
    text-align: center;
    border: none;
    border-bottom: 1px solid white; /* Add white border-bottom */
    background-color: transparent; /* Remove background color */
    width: 550px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
    color: white;
  }
  
  .button {
    margin-top: 40px;
    text-align: center;
  }

  .button-container {
    margin-top: 10px !important;
  }
  
  .button {
    font-family: "Lucida Grande";
    font-weight: lighter;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff00;
    color: white;
    border: 1.5px solid transparent;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease, border-color 0.3s ease;
  }
  
  .button-container button:hover {
    opacity: 1;
    border-color: #ffffff;
  }

.toggle-password-icon {
    width: 20px;
    height: auto;
    margin-left: 10px; /* Adjust margin as needed */
    cursor: pointer;
    position: relative;
    left: 300px;
    bottom: 60px;
  }
