/* FOOTER LINE */
.footer-line {
  background-color: white;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  height: 1px;
  margin-top: 2rem;
}

/* FOOTER CONTAINER */
.footer-container {
  color: white;
  padding: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.footer-left-section,
.footer-right-section {
  width: 15rem;
}

/* FOOTER MID SECTION */
.footer-copyright {
  font-family: "italiana", sans-serif;
  font-weight: lighter;
  font-size: 0.75rem;
  display: flex;
  gap: 1rem;
}

.footer-copyright-span {
  font-weight: lighter;
}

/* FOOTER RIGHT SECTION */
.footer-right-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-link {
  color: white;
  border: none;
  font-size: 0.7rem;
  width: fit-content;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.footer-link::before {
  background-color: white;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  transition: width 0.3s;
}

.footer-link::after {
  border: 1px solid white;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleY(0) scaleX(0.2);
  width: 10px;
  height: 10px;
  border-left: none;
  border-top: none;
  transition: transform 0.3s;
}

.footer-link:hover::before {
  width: 100%;
}

.footer-link:hover::after {
  transform: translateX(-50%) rotate(45deg) scaleY(1) scaleX(1);
}
