* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

body {
  background-color: #060B10;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

#container {
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}
