.admin-link {
  color: white;
  text-decoration: none;
}

.admin-products-table {
  width: 90%;
  border-collapse: collapse;
}

.admin-products-table th,
.admin-products-table td {
  border: 1px solid grey;
  padding: 8px;
}

.admin-product-description {
  text-align: left;
}

.admin-product-image {
  width: 7rem;
  height: 7rem;
}

.admin-edit-button {
  background-color: #0f3866;
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.admin-edit-button:hover {
  background-color: #1070dd;
}


.admin-delete-button {
  background-color: #813b36;
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.admin-delete-button:hover {
  background-color: #d32f2f;
}
