.admin-table tr th {
  text-align: center;
  background-color: gray;
}

.admin-table tr th:nth-child(1) {
  width: 80px;
}

.admin-table tr th:nth-child(2) {
  width: 64px;
}

.admin-table tr th:nth-child(3) {
  width: 64px;
}

.admin-table tr th:nth-child(4) {
  width: 64px;
}

.admin-table tr th:nth-child(5) {
  width: 50%;
}

.admin-table tr th:nth-child(6) {
  width: 64px;
}

.admin-table tr th:nth-child(7) {
  width: 88px;
}

.admin-table tr th:nth-child(8) {
  width: 32px;
}

.admin-table tr td {
  color: gray;
}

.admin-table tr td:nth-child(4) {
  text-align: right;
}

.admin-table tr td:nth-child(2),
.admin-table tr td:nth-child(3),
.admin-table tr td:nth-child(6),
.admin-table tr td:nth-child(7),
.admin-table tr td:nth-child(8) {
  text-align: center;
}